[Unit]
Description=TestGauge
Wants=rgMan.service
After=rgMan.service

[Service]
Type=dbus
BusName=com.TestGauge
ExecStart=/usr/local/bin/node /opt/rGauge/gList/TestGauge/app.js
Restart=on-failure
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=TestGauge
User=rgservice
Group=irdclient
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=NODE_ENV=production
WorkingDirectory=/opt/rGauge/gList/TestGauge
TimeoutSec=180

[Install]
WantedBy=multi-user.target